<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
          crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous">
    </script>
</head>
<body class="vh-100 bg-image"
      style="background-image: url(/images/main-background-purple.png);">

<th:block th:replace="~{fragments/navbar}"></th:block>

<section>

    <!--<section style="background-color: #eee;">-->
    <div class="container py-5"
         th:each="console, iStat : ${consoles.getContent()}"
         th:object="${console}">
        <!--         th:style="${iStat.odd} ? 'font-weight: bold;'"-->
        <!--         th:alt-title="${iStat.even} ? 'even' : 'odd'"-->

        <div class="row justify-content-center mb-0">
            <div class="col-md-12 col-xl-10">
                <div class="card shadow-0 border rounded-3">
                    <div class="card-body rounded-3">
                        <div class="row">

                            <div class="col-md-12 col-lg-3 col-xl-2 mb-4 mb-lg-0">
                                <div class="bg-image hover-zoom ripple rounded ripple-surface">
                                    <img th:src="*{imageUrl}"
                                         class="w-100"/>
                                    <a>
                                        <div class="hover-overlay">
                                            <div class="mask"
                                                 style="background-color: rgba(253, 253, 253, 0.15);"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <!-- Game name-->
                            <div class="col-md-6 col-lg-6 col-xl-6">
                                <h2 th:text="*{name}"></h2>
                                <div class="d-flex flex-row">
                                    <div class="text-danger mb-1 me-2">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>

                                <!-- Platform-->
                                <div class="mt-1 mb-0 text-muted small">
                                    <h6 th:text="'Platform: ' + *{platform}"></h6>
                                </div>

                                <!-- Description-->
                                <p class="mb-4 mb-md-0 mt-4"
                                   th:text="*{summary}">
                                </p>
                            </div>

                            <!-- Price-->
                            <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                                <div class="d-flex flex-row align-items-center mb-1">
                                    <h4 class="mb-1 me-1"
                                        th:text="'$' + *{price}"></h4>
                                </div>
                                <h6 class="text-success">Free shipping</h6>

                                <!-- Buttons-->
                                <div class="d-flex flex-column mt-4">
                                    <a class="btn btn-sm text-white"
                                       style="background-color: #755bb4"
                                       type="button"
                                       th:href="@{/products/consoles/{id}(id=*{id})}">Details
                                    </a>
                                    <button class="btn btn-outline-info btn-sm mt-2"
                                            type="button">
                                        Add cart
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <th:block th:replace="~{fragments/footer}"></th:block>
</footer>
</body>
</html>