<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
          crossorigin="anonymous">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous">
</script>
<th:block th:replace="~{fragments/navbar.html}"></th:block>
<main>
    <img class="bg-img" src="/images/main-background.png" alt="main-background">
    <div class="container bg-blur rounded mt-5">
        <h1>Play Tray</h1>
        <hr class="my-3 bg-white w-50"/>

        <p class="h4">
            Dictionary App is designed to help individuals and language enthusiasts effortlessly access and
            explore the vast world of words and their meanings. It provides a user-friendly interface with a
            comprehensive
            dictionary that allows users to search for words, browse definitions, and enhance their vocabulary.
            <br>
            Dictionary App is a valuable tool for students, writers, professionals, and anyone seeking to enrich their
            language skills.
            It provides an extensive database of words and their meanings, making it a reliable companion for German,
            French, Spanish and Italian.</p>
        <hr class="my-3 bg-white w-75"/>

        <h3>
            <a class="text-primary" th:href="@{/login}">Login</a>
            if you have an account or
            <a class="text-primary" th:href="@{/register}">Register</a>
            now and check our deals.
        </h3>
    </div>
</main>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>