<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage user roles</title>

    <style>
        body {
            background: url(/images/main-background-with-logo.png) no-repeat center center fixed;

        }
    </style>
</head>
<body>
<th:block th:replace="~{fragments/navbar}"></th:block>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-5 mb-5">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-uppercase mb-0"
                            th:text="'Manage Roles of User: ' + ${username}">Manage Roles</h5>
                    </div>
                    <div class="table-responsive">
                        <table class="table no-wrap user-table mb-0">
                            <thead>
                            <tr>
                                <th scope="col" class="border-0 text-uppercase font-medium pl-4">ID</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">Role</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">Manage</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="role : ${roles}"
                                th:object="${role}">
                                <td class="pl-4"
                                    th:text="*{id}">ID
                                </td>
                                <td>
                                    <h5 class="font-medium mb-0"
                                        th:text="*{name.toString()}">Role</h5>
                                </td>
                                <td>
                                    <form class="nav-item"
                                          th:method="POST"
                                          th:action="@{/admin/users/{username}/roles/remove/{id}(username=${username}, id=*{id})}">
                                        <button type="submit"
                                                class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i
                                                class="fa fa-trash"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>

                            <tr class="btn-group dropdown align-text-bottom mb-2">
                                <button type="button"
                                        id="dropDown"
                                        class="btn dropdown-toggle btn-outline-info"
                                        data-bs-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="false"><i class="fa fa-plus fa-1x"></i>
                                </button>
                                <ul class="dropdown-menu"
                                    aria-labelledby="dropDown"
                                    style="background-color: white">

                                    <li th:each="unRole : ${unassignedRoles}">
                                        <form th:method="POST"
                                              th:action="@{/admin/users/{username}/roles/add/{roleName}(username=${username}, roleName=${unRole.name})}">

                                            <button type="submit" class="dropdown-item btn nav-link"
                                                    th:text="${unRole.name}">
                                            </button>
                                        </form>
                                    </li>
                                </ul>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <a th:href="@{/admin/users}"
                   class="btn-link"
                   type="button"
                   style="color: white">Back to users
                </a>
            </div>
        </div>
    </div>
</section>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<footer>
    <th:block th:replace="~{fragments/footer}"></th:block>
</footer>
</body>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous">
</script>
</html>